@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,500;9..144,900&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,500;9..144,900&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    max-height:100vh;
}
h1,h3,p,h5{
    margin: 0;
}
.product-container {
    display: flex;
    width: 46%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: row;
}
.product-image {
    background: url(../images/image-product-desktop.jpg) no-repeat;
    background-size:cover;
    width: 100%;
    border-radius: 10px 0 0 10px;
}
.product-copy {
    position: relative;
    margin: 20px;
}
.product-preview-heading h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 10px;
    margin-bottom: 14px;
}
.product-title h1 {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 14px;
}
.product-copy-1 p {
    font-size: 15px;
    width: 75%;
    color: hsl(228, 12%, 48%);
    margin-bottom: 14px;
}
.product-prices {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.product-sale-price h3 {
    font-size: 35px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    padding-right: 22px;
}
.product-normal-price h5 {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}
button#cart{
    border: none;
    padding: 10px;
    width: 80%;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}
img.icon {
    margin-right: 12px;
}
@media only screen and (max-width:375px) {
    .product-image  {
      background: url(../images/image-product-mobile.jpg);

      background-size:cover;
      width: 100%;
      border-radius: 10px 10px 0 0;
      height: 200px;
    }
    .product-container {
        flex-direction: column;
        width: 98%;
    }
    button#cart {
        width: 100%;
    }
  }
